{% extends "base_generic.html" %} 

{% load bootstrap4 %} 

{% block content %}
{% load static %}
<div class="row">
      <div class="col-xl-12 text-center">
        <h1>{{ set_title }}</h1>
      </div>
</div>

<div class="row">

  <div class="col-xl-3">
       <div class="left-nav-block">
         <strong>Личный кабинет</strong>
           <div class="left-nav-block-element">
              <span><a href="#">Вход</a> / <a href="#">Регистрация</a></span>
           </div>
        </div>
        <div class="left-nav-block">
          {% lorem 50 w %}
        </div>

  </div>
  <div class="col-xl-9">
    <div class="base_content">
        <div class="content-block">
            <div class="content-small-block">
            <strong>Поиск по теме</strong>
            {#-------------------------------------#}

              <form method="post" id="SelectAreaForm"
                    data-group-url="{% url 'mainapp:ajax_reload_group' %}"
                    data-cities-url-modyfy= "{% url 'mainapp:ajax_reload_sub_group' %}">
                {% csrf_token %}
                <span>
                  {{ form.as_table }}
                <button class="button_find_blog" type="submit">Найти</button></span>
              </form>
                {% if area_kn %}
                    {{ area_kn }}
                {% endif %}

            {% block js %}
                <script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
                <script src="{% static '/js/reload_group.js' %}"></script>
                <script src="{% static '/js/reload_modyfy.js' %}"></script>
            {% endblock %}
            {#-------------------------------------#}
            </div>

        </div>






   </div>

  </div>

</div>
{% endblock %}
