* {
    margin: 0;
    padding: 0;
}


.header{
    min-height: 60px;
    /*outline: 1px solid #212121;*/
    display: table;
    padding-left: 0;
    padding-right: 0;
}
.logo{
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
  float: left;
}
.logo img{
  width: 50px;
}
.logo a:hover {
  text-decoration: none;
}
.contact{
  float: right;
  /*margin-right:  17%;*/
  width: 200px;
  outline: 1px solid #212121;
  margin-top: 13px;
}
.navbar{
  /*background-color: #cda557;*/
    /*background-color: #ced8db;*/
    background-color: #e5e5e5;

  /*box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);*/
}

.content{
  /*box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);*/

}


.navi{
    /*outline: 1px solid #212121;*/
    /*box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);*/

}
.head-nav{
    /*outline: 1px solid #212121;*/
    min-height: 60px;
    /*background-color: #cda557;*/
    background-color: #ced8db;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    color: #212529;
    width: 100%;
    display: table;   
}
.head-nav-title{
  padding-top: 18px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /*margin-bottom: 60px;  Margin bottom by footer height */
}
.body-post{
    padding-top:  20px;
    padding-bottom: 20px;
}
.btn-post_detail{
    width: 100%;
    margin-top: 20px;
    background-color: #ced8db;
    /*background-color: #cda557;*/
}
.btn-post_detail:hover {
    background-color: #caa500;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #ced8db;
    /*background-color: #cda557;*/
}
.container-footer{
  /*padding-left: 60px;*/
}
.card{
  float: left;
}
#id_key_charact {
    list-style-type: none;
}
#id_level_sendler{
    list-style-type: none;
}

.button-next a {
    /*box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);*/
    height: 30px;
    display: flex;
    width: 120px;
    border-radius: 2px;
    border: 1px solid #949494;
    /*margin: 0 auto;*/
    align-items: center;
    background-color: #d4d4d4;
    background: linear-gradient(to top,  #c2c2c2, #e3e3e3);
    color: #212529;
    /*text-align: center;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font-size: 35px;
    font-weight: 800;*/
    font-weight: 400;
    text-decoration: none;
    /*margin-top: 20px;*/
}
.button-next a:hover {
    background: linear-gradient(to top,  #e3e3e3, #f0f0f0);
}
.button-more a{
    height: 30px;
    display: flex;
    border-radius: 2px;
    border: 1px solid #949494;
    align-items: center;
    background-color: #d4d4d4;
    background: linear-gradient(to top,  #c2c2c2, #e3e3e3);
    color: #212529;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    text-decoration: none;
}
.button-category{
    height: 45px;
    display: flex;
    width: 90%;
    border-radius: 2px;
    border: 1px solid #949494;
    margin: 0 auto;
    align-items: center;
    background-color: #d4d4d4;
    background: linear-gradient(to top,  #b8d3db, #e3f5fa);
    color: #212529;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font-size: 35px;
    font-weight: 800;*/
    font-weight: 400;
    text-decoration: none;
}
.button-category:hover {
    text-decoration: none;
    color: #212529;
    background: linear-gradient(to top,  #95b5bf, #c9e7f0);
}
.button-category-active {
    /*background: linear-gradient(to top,  #8c8b8c, #c2c2c2);*/
    background: #95b5bf;
}
.base_content{
    /*border: 1px solid #e3e3e3;*/
    border-radius: 4px;
    min-height: 780px;
}
.left-nav-block{
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    background-color: #f5f5f5;
    /*background-color: #ced8db;*/
    text-align: center;
    font-size: 1rem;
    line-height: 24px;
    color: #4b4f54;
    width: 100%;
    display: table;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.left-nav-block ul{
    margin-bottom: 0;
    list-style-type: none;
}
.left-nav-block-element{
    height: 40px;
    display: flex;
    width: 90%;
    border-radius: 4px;
    border: 1px solid #949494;
    margin: 0 auto;
    align-items: center;
    background-color: #d4d4d4;
    background: linear-gradient(to top,  #b8d3db, #e3f5fa);
    color: #212529;
    /*text-align: center;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font-size: 35px;
    font-weight: 800;*/
    font-weight: 400;
    text-decoration: none;
}
.left-nav-block-element a {
    text-decoration: none;
}
.content-block{
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    background-color: #f5f5f5;
    font-size: 1rem;
    line-height: 24px;
    color: #4b4f54;
    width: 100%;
    display: table;
    margin-bottom: 15px;
    padding: 15px;
    padding-bottom: 15px;
}
#id_area {
    height: 35px;
    width: 30%;
}
#id_group_kn {
    margin-left: 4%;
}
#id_group_kn {
    height: 35px;
    width: 30%;
}
.button_find_blog{
    height: 35px;
    display: inline-flex;
    width: 10%;
    border-radius: 4px;
    border: 1px solid #949494;
    margin: 0 auto;
    align-items: center;
    background-color: #d4d4d4;
    background: linear-gradient(to top,  #b8d3db, #e3f5fa);
    color: #212529;
    /*text-align: center;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*font-size: 35px;
    font-weight: 800;*/
    font-weight: 400;
    text-decoration: none;
    float: right;
}
.button_find_auto:hover {
    text-decoration: none;
}
.content-small-block{
    /*margin-top: 5px;*/
    margin-bottom: 5px;
}
.content-small-block ul{
    padding-left: 20px;
}
.carousel-caption h2{
    color: red;
    font-weight: 700;
    text-shadow: #000 1px 1px 0, #000 -1px -1px 0,
                 #000 -1px 1px 0, #000 1px -1px 0;
    font-size: 40px;
}
#id_key_number{
    width: 89%;
}
.button-add-basket a{
    margin: 0 auto;
    width: 60px;
}
.slide-more-block{
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    background-color: #fff;
    font-size: 1rem;
    line-height: 24px;
    color: #4b4f54;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.content-block-detail{
    padding-left: 15px;
    padding-right: 15px;
}
.box-price{
    background: #fff3c7;
    padding-top: 15px;
    padding-bottom: 15px;
}
.tab-content{
    padding: 5px;
    background: #fff;
    min-height: 280px;
}
.tab-content ul{
    padding-left: 20px;
}

@media (min-width:1200px) {
 .container {
  max-width:1170px
 }
 .group-nav-block {
    display: none;
}
}

@media (max-width: 575.98px) {
.left-nav-block{
    display: none;
}
#id_mark{
    width: 100%;
}
#id_model{
    width: 100%;
}
#id_modyfy{
    width: 100%;
}
.button_find_auto{
    margin-top: 30px;
    width: 30%;
    margin-left: 70%;
}
#id_key_number {
    width: 100%;
}
.content-block{
    padding: 3px;
}
}